@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

 }

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* --font-arabicFont:  */

  --color-primaryColor: #ED4450;
  --color-secondaryColor: #ededed ;
  --color-textColor: #6C4E4E
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ED4450;
    --foreground: #ededed;
  }
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  @apply flex items-center justify-center h-[100vh] w-[100vw] flex-col p-5 pb-0 ; 
}
header{ 
  @apply h-[10vh] w-[95vw] items-center 
}
.lgHeader{
  @apply py-4 w-[95vw] px-10  rounded-t-2xl hidden md:flex bg-secondaryColor overflow-hidden  ; 
}
.mobileHeader{
  @apply w-[95%] md:hidden flex justify-between flex-row ml-auto h-fit text-secondaryColor mr-4
}
/* logo */
.lgLogo{
  @apply border-b-2 border-primaryColor rounded-md border-r-2 pr-1 
}
.lgLogo h1, .primaryTitle, .mobileLogo h1{
  @apply flex items-center gap-1 font-bold text-primaryColor text-2xl md:text-4xl 
}
.mobileLogo h1{
  @apply text-secondaryColor ml-auto
}
.logo span{
  @apply p-1 px-2 rounded font-serif
}
.lgLogo span{
  @apply   bg-primaryColor text-secondaryColor rounded-br-none;
}
.mobileLogo span{
  @apply bg-secondaryColor !text-primaryColor
}
.primaryTitle{
  direction: rtl;
}
.navBar{
  @apply flex  gap-10 mx-auto text-textColor items-center justify-center flex-row-reverse font-extrabold 
}
.navBar > * {
  @apply hover:border-textColor border-1 border-transparent py-2 px-4  rounded-xl flex 
}
.navBar .active {
  @apply border-textColor border-1
}
.navBarMobile{
  @apply bg-red-500
}
.test{
  @apply absolute w-[100vw] h-[100vh] bg-primaryColor left-0 top-0 z-200 flex items-center justify-center 
}
.compactMenuContent{
  @apply flex flex-col justify-center items-center text-4xl gap-4 
}
.compactMenuContent > *{
  @apply w-full text-center p-2 cursor-pointer hover:bg-primaryColor hover:text-shadow-secondaryColor duration-200 
}
.compactMenuContent .active{
  @apply border bg-secondaryColor rounded text-primaryColor shadow
}
.subProfileMobile{
  @apply flex flex-col
}
.mainBodyCont{
  @apply h-[90vh] w-[95vw] rounded-b-2xl md:rounded-t-none rounded-t-2xl  bg-secondaryColor shadow-xl/50 overflow-hidden ;
}
.subProfile {
  @apply flex p-2 w-fit rounded-md font-serif ; 
}
.subProfile h6 {
  @apply flex gap-2  items-center
}
.subProfile h6 span{
  @apply bg-primaryColor rounded-r-2xl overflow-hidden p-1 
}
.subProfile h6 img{
  @apply rounded-xl border-2 border-[#ED4450] h-full
}
.subProfile h6 {
  @apply text-textColor
}
.logoutBtn {
  @apply border-1 border-transparent hover:border-primaryColor rounded-l-sm text-secondaryColor bg-primaryColor hover:text-primaryColor hover:bg-secondaryColor cursor-pointer ;
}
.signupBtn {
  @apply px-4 py-1 rounded bg-primaryColor text-pretty hover:text-primaryColor hover:bg-secondaryColor  text-secondaryColor
  cursor-pointer border-1 border-transparent hover:border-primaryColor 
} 

.heroLayout{
  @apply overflow-scroll text-primaryColor md:flex items-center justify-center gap-[10vw] h-full py-10 my-auto w-[80vw] mx-auto text-right ;
}
.heroLayout h1{
  @apply font-bold text-4xl 
}
.heroLayout p {
  @apply text-textColor 
}
.heroLayout img{
  @apply md:w-[100%] w-[150px] mx-auto
}
.heroLayout .btns {
  @apply flex gap-2 my-0 flex-row-reverse items-center
}
.heroLayout .btns:first-child {
  @apply ml-auto
}
.heroLayout .btns button{
  @apply py-2 px-4 font-serif border rounded-4xl cursor-pointer 
  font-bold flex items-center gap-3 hover:shadow-lg shadow-black/50 duration-300 
}
.heroLayout .btns svg{
  @apply -translate-y-[0vh]  
}
.heroLayout .btns .primaryBtn{
  @apply  bg-primaryColor h-full text-secondaryColor hover:bg-secondaryColor hover:text-primaryColor
}
.heroLayout .btns .secondaryBtn{
  @apply bg-secondaryColor text-textColor hover:bg-textColor hover:text-secondaryColor border-textColor 
}
.statsHeader{
  @apply flex flex-row-reverse justify-between
}
.heroLayout .stats{
  @apply py-8
}
.heroLayout .stats p{
  @apply flex flex-row-reverse ml-auto w-fit items-end gap-2
}
.heroLayout .stats span{
  @apply text-primaryColor text-4xl font-serif font-bold
}
.statsDots{
  @apply flex items-center
}
.statsDots > *{
  @apply bg-primaryColor p-[.2vw] px-[.4vw] rounded-full m-[.1vw]  border-1
}
.statsDots >*.active{
  box-sizing: border-box; 
  @apply bg-secondaryColor border-1  border-primaryColor 
}

.notFound {
  @apply flex flex-col text-center text-textColor relative   gap-10  h-full items-center justify-center w-full
}
.notFound h1{
  @apply text-4xl p-2 rounded
}
.notFound span{
  @apply bg-primaryColor text-secondaryColor p-2 rounded mr-1 
}
.pattern{
  @apply absolute opacity-60  hidden md:block
}
.notFound .patternImg{
  @apply -right-0 bottom-40 -rotate-z-45
}
.notFound .patternImg2{
  @apply -left-10 -bottom-50 -rotate-z-230
}
/* about page */
.goalsLayout, .aboutLayout{
  @apply overflow-scroll md:grid grid-cols-3 py-8 w-[80vw] mx-auto text-right md:p-4 block overflow-y-scroll md:overflow-hidden h-[90%] md:h-fit   
}
.aboutLayout{
  @apply items-center mt-5
}
.goalsLayout img, .aboutLayout img{
  @apply mx-auto
}
.goalsLayout > *, .aboutLayout > *{
  @apply md:p-4 
}
.sideTextGoals, .sideTextAbout{
  @apply col-span-2 text-black
}
.sideTextGoals span{
  @apply block text-center font-bold  p-1 
}
.sideTextGoals ul{
  @apply md:p-4 px-5 md:px-10 
}
.sideTextGoals li{
  list-style: square ;
  direction: rtl ;

}
.sideTextGoals li::marker{
  font-size: 1em;
  @apply text-primaryColor border border-black 
}
.bottomTextGoals {
  @apply col-span-3 text-black py-1;
}